
@{
    ViewBag.Title = "RankMyBase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RankMyBase</h2>


<b>Your Score is :@ViewBag.BaseScore</b>
<br /><br />
Your Base URL is @ViewBag.URL
<br /><br />
Top 10 @ViewBag.Top
